<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <!-- navbar -->
    <nav>
        <div id="hamToggle" class="ham-container" onclick="toggle()">
            <span class="ham-menu"></span>
        </div>
        <h3 class="half-colored" data-text="KangReal">KangReal</h3>
        <img src="../static/image/spider-man-tv-shows.webp" alt="logo">
    </nav>

    <!-- sidebar -->
    <div id="sidebar" class="sidebar">
        <h3 class="half-colored">KangReal</h3>
        <button id="close">&Cross;</button>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
</body>
</html>