<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
    <!-- navbar -->
    <nav>
        <div id="hamToggle" class="ham-container" onclick="toggle()">
            <span class="ham-menu"></span>
        </div>
        <h3 class="half-colored" data-text="KangReal">KangReal</h3>
        <img src="../static/image/spider-man-tv-shows.webp" alt="logo">
    </nav>

    <!-- sidebar -->
    <div id="sidebar" class="sidebar">
        <h3 class="half-colored">KangReal</h3>
        <button id="close">&Cross;</button>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
        </ul>
    </div>

    <!-- page main -->
    <div class="container">
        <!-- page banner -->
        <div class="banner">
            <div class="banner-text">
                <h1>Hi, Welcome</h1>
                <h2>I'm KangReal</h2>
            </div>
            <div class="decoration">
                <span class="circle1"></span>
            </div>
        </div>
        <!-- page content -->
        <div class="content">
            <div class="page1">
                <div class="page1-text">
                    <h1>My First Website</h1>
                    <p>My Website using HTML, CSS, and JavaScript. And i will use a little bit of python for the backend
                        of
                        my website.</p>
                </div>
                <div class="imgLogo">
                    <div class="img-page1">
                        <img src="../static/image/HTML5_logo.png" alt="HTML" class="logo1">
                        <img src="../static/image/CSS-Logo.png" alt="CSS" class="logo2">
                        <img src="../static/image/JS-Logo.png" alt="JavaScript" class="logo3">
                    </div>
                </div>
            </div>
            <div class="page2">
                <div class="doc">
                    <div class="card">
                        <div class="card1">
                            <h2>Calculator</h2>
                            <img src="../static/image/img-project/Kalkulator.png" alt="Kalkulator">
                            <p>This is one of my projectd, namely a Calculator made from HTML, CSS, and also JavaScript
                            </p>
                        </div>
                        <div class="card2">
                            <h2>TodoList</h2>
                            <img src="../static/image/img-project/TodoList.png" alt="TodoList" srcset="">
                            <p>This is also one of my projects, namely a TodoList. Like a Calculator, here I use HTML,
                                CSS
                                and also JavaScript.</p>
                        </div>
                    </div>
                </div>
                <div class="page2-text">
                    <h1>My Project</h1>
                    <p>I have several projects that I have created, including Calculator, TodoList, My Portfolio, and
                        many more using the Python and C++ programming languages.
                        <br>Link: <a
                            href="https://github.com/Kangreals?tab=repositories">https://github.com/Kangreals?tab=repositories</a>
                    </p>
                </div>
            </div>
            <div class="page3">
                <div class="page3-text">
                    <h2>Contact Me</h2>
                </div>
                <div class="contact">
                    <form>
                        <input type="text" placeholder="Name">
                        <textarea placeholder="Description"></textarea>
                        <button>Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Copy &copy; by KangReal || 2025</p>
    </footer>
</body>

</html>